.mainContent {
    background-color: black;
    height: 650px;
    width: 500px;
    margin-left: 500px;
    padding: 10px;
}
.bodyContent {
    background-color: white;
    height: 610px;
    width: 480px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;

}
.head {
    height: 90px;
    width: 480px;
}
#register {
    padding-top: 50px;
    padding-left: 150px;
    font-weight: bold;
}
.body {
    padding-top: 50px;
    padding-left: 90px;
}
.box {
    height: 30px;
    width: 300px;
    border-radius: 5px;
    display: block;
    margin-top: 10px;
    margin-bottom: 20px;
}
#btn {
    height: 40px;
    width: 80px;
    border-radius: 5px;
    margin-top: 20px;
    margin-left: 80px;
    background-color: rgb(130, 134, 232);
    color: white;
}
#mail {
    height: 30px;
    width: 300px;
    border-radius: 5px;
    display: block;
    margin-top: 10px;
    margin-bottom: 20px;
}
#error {
    color: red; 
    display: none; 
}

