/*-----Main Portion-----*/
.main {
    background-image: url("./Farm-bg.png");
    height: 820px;
    width: 760px;
    margin-left: 350px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
}

/*-----Header Portion-----*/
.header {
    background-color: #00573F;
    color: white;
    font-weight: bolder;
    margin-left: 20px;
    margin-right: 20px;
    width: 720px;
    height: 120px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.header-left {
    padding-top: 15px;
    padding-left: 20px;
    padding-bottom: 5px;
    float: left;
}
.header-text {
    padding-top: 40px;
    padding-right: 20px;
    padding-bottom: 5px;
    float: right;
}
#logo {
    margin-left: 285px;
    margin-top: 65px;
    
}
.line {
    display: block;
}
#form1 {
   margin-bottom: 0;
}
#form2 {
    display: block;
    margin-top: 0;
}

/*-----Body Portion-----*/
.body {
    background-color: white;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    width: 720px;
    height: 680px;
    font-weight: bolder;
    margin-top: 0;
    padding-top: 0;
}
.top {
    display: flex;
    justify-content: space-between;
    height: 410px;
    width: 720px;
}
.top-left {
    width: 50%;
    padding-top: 15px;
    padding-left: 20px;
    float: left;
}
.content {
    border-radius: 5px;
    border-style: groove;
    margin-top: 10px;
    height: 25px;
    width: 300px;
    opacity: 0.5;
    background-color: rgb(226, 222, 222);
    border: none;
}
.subscript {
    opacity: 0.9;
    font-style: italic;
    font-weight: normal;
    margin-top: 5px;
}

.top-right {
    width: 50%;
    padding-top: 15px;
    padding-right: 20px;
    float: right;
    padding-left: 20px;
}
#boxspace {
    border-radius: 5px;
    border-style: groove;
    margin-top: 66px;
    height: 25px;
    width: 300px;
    opacity: 0.5;
    background-color: rgb(226, 222, 222);
    border: none;
}
.gender {
    font-weight: normal;
    padding-right: 15px;
    margin-top: 36px;
}
#select {
    font-weight: bolder;
    padding-right: 15px;
    margin-top: 36px;
}
#male {
    padding-top: 36px;
    height: 20px;
    width: 20px;
}
#female {
    margin-top: 36px;
    height: 20px;
    width: 20px;
}
#boxspaces {
    border-radius: 5px;
    border-style: groove;
    margin-top: 80px;
    height: 25px;
    width: 300px;
    opacity: 0.5;
    background-color: rgb(226, 222, 222);
    border: none;
}
/*-----Middle Portion-----*/
.middle {
    height: 45px;
    width: 700px;
    padding: 20px 20px 0 20px;
}
#day {
    font-weight: normal;
    margin-left: 410px;
    margin-top: 0;
}
#yes, #no {
    height: 20px;
    width: 20px;
}

/*-----Bottom Portion-----*/
.bottom {
    display: flex;
    justify-content: space-between;
    height: 201px;
    width: 720px;
}
.bottom-left {
    width: 60%;
    padding: 20px 20px 0 20px;
}
.declaration {
    margin-top: 55px;
    height: 20px;
    width: 20px;
    font-weight: normal;
}
.bottom-right {
    width: 50%;
    padding: 15px 20px 0 20px;
}
#sig {
    margin-top: 2px; 
    margin-left: 20px;
}
#sign-logo {
    margin-left: 150px;
    margin-right: 60px;
    padding-top: 0;
    align-content: center;
}
#line1 {
    border-style: dotted;
    margin-left: 105px;
    margin-right: 60px;
    margin-top: 0;
    align-content: center;
}
#line2 {
    border-style: solid;
    margin-top: 10px;
    margin-left: 20px;
}
#scarlet-victor {
    margin-left: 20px;
    margin-bottom: 0;
}
#volunteer {
    margin-top: 0;
    margin-left: 20px;
    font-weight: normal;
}

